{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "승뮤니티 API 문서화",
    "description": "REST API"
  },
  "host": "ddenzu.store",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "루트 경로 접속",
        "description": "클라이언트가 서버에 접속할 때 루트 경로로 리다이렉트됩니다.",
        "responses": {
          "302": {
            "description": "첫 페이지로 리다이렉트 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/register": {
      "get": {
        "tags": ["User"],
        "summary": "회원가입 페이지 조회",
        "description": "회원가입 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "회원가입 페이지 조회 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "사용자 등록",
        "description": "새로운 사용자를 회원가입 시킵니다.",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "maxLength": 20,
            "description": "등록할 사용자의 아이디"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "등록할 사용자의 비밀번호"
          }
        ],
        "responses": {
          "200": {
            "description": "회원가입 성공"
          },
          "400": {
            "description": "아이디 또는 비밀번호가 20글자를 초과하는 경우"
          },
          "409": {
            "description": "같은 아이디가 이미 존재하는 경우"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/log": {
      "get": {
        "tags": ["User"],
        "summary": "로그인 페이지 조회",
        "description": "로그인 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "로그인 페이지 조회 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/log/login": {
      "post": {
        "tags": ["User"],
        "summary": "사용자 로그인",
        "description": "사용자를 인증하고 세션을 생성하여 로그인합니다.",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "사용자의 아이디"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "사용자의 비밀번호"
          }
        ],
        "responses": {
          "200": {
            "description": "로그인 성공"
          },
          "400": {
            "description": "아이디 또는 비밀번호를 입력하지 않음"
          },
          "401": {
            "description": "db에 존재하지 않는 아이디"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/log/logout": {
      "get": {
        "tags": ["User"],
        "summary": "사용자 로그아웃",
        "description": "클라이언트의 세션을 파괴하고 사용자를 로그아웃 시킵니다.",
        "responses": {
          "302": {
            "description": "첫페이지로 리다이렉트 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/log/locations": {
      "put": {
        "tags": ["User"],
        "summary": "사용자 위치 정보 업데이트",
        "description": "사용자의 위치 정보를 업데이트합니다.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "업데이트할 위치 정보",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "위치 정보 업데이트 성공"
          },
          "400": {
            "description": "위치 정보가 제공되지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },   
    "/mypage": {
      "get": {
        "tags": ["User"],
        "summary": "마이페이지 조회",
        "description": "사용자의 마이페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "마이페이지 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "아이디": {
                  "type":"string",
                  "description": "닉네임"
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/mypage/name": {
      "put": {
        "tags": ["User"],
        "summary": "닉네임 변경",
        "description": "사용자의 닉네임을 변경합니다.",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "maxLength": 20,
            "description": "새로운 닉네임"
          }
        ],
        "responses": {
          "200": {
            "description": "닉네임 변경 성공"
          },
          "400": {
            "description": "아이디가 20글자를 초과하는 경우"
          },
          "409": {
            "description": "이미 존재하는 아이디"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/mypage/profile-image": {
      "put": {
        "tags": ["User"],
        "summary": "프로필 사진 변경",
        "description": "사용자의 프로필 사진을 변경합니다.",
        "consumes": ["multipart/form-data"],
        "parameters": [
          {
            "name": "img1",
            "in": "formData",
            "description": "프로필 사진 파일",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "프로필 사진 변경 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/list": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 첫 페이지 조회",
        "description": "게시글의 첫 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "게시글 첫 페이지 조회 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "delete": {
        "tags": ["Post"],
        "summary": "특정 게시글 삭제",
        "description": "ID 값을 사용하여 특정 게시글을 삭제합니다.",
        "parameters": [
          {
            "name": "docid",
            "in": "query",
            "description": "게시물의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 삭제 완료"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "403": {
            "description": "게시글을 삭제할 권한이 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/list/{num}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 페이지별 조회",
        "description": "게시글을 페이지별로 조회합니다.",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "description": "페이지 번호",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 페이지 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array"
                },
                "글수": {
                  "type": "integer",
                  "description": "전체 게시글 수"
                },
                "페이지넘버": {
                  "type": "integer",
                  "description": "현재 페이지 번호"
                },
                "resizeImg": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "리사이즈된 이미지 URL"
                  }
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "404": {
            "description": "게시글이 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('게시글이 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "서버 에러"
          }
        }
      }
    },
    "/list/next/{num}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 다음 페이지 조회",
        "description": "게시글의 다음 페이지를 조회합니다.",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "description": "이전 페이지의 마지막 글의 ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "현재 페이지 번호",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "페이지 이동 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array"
                },
                "글수": {
                  "type": "integer",
                  "description": "전체 글 수"
                },
                "페이지넘버": {
                  "type": "integer",
                  "description": "현재 페이지 번호"
                },
                "resizeImg": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "이미지 경로"
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "404": {
            "description": "다음 페이지가 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('다음페이지가 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/list/prev/{num}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 이전 페이지 조회",
        "description": "게시글의 이전 페이지를 조회합니다.",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "description": "다음 페이지의 첫 번째 글 ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "현재 페이지 번호",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "페이지 이동 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array",
                  "description": "전체 글 목록"
                },
                "글수": {
                  "type": "integer",
                  "description": "전체 글 수"
                },
                "페이지넘버": {
                  "type": "integer",
                  "description": "현재 페이지 번호"
                },
                "resizeImg": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "이미지 경로"
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "404": {
            "description": "이전 페이지가 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('이전페이지가 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/list/search": {
      "get": {
        "tags": ["Post"],
        "summary": "특정 게시글 검색",
        "description": "특정 게시글을 검색합니다.",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "description": "검색할 제목 키워드",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 검색 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": { "type": "string", "description": "게시글의 고유 ID" },
                      "title": { "type": "string", "description": "게시글의 제목" },
                      "content": { "type": "string", "description": "게시글의 내용" },
                      "작성자_id": { "type": "string", "description": "게시글 작성자의 고유 ID" },
                      "createdAt": { "type": "string", "format": "date-time", "description": "게시글 작성 시간" },
                      "이미지주소": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "게시글에 포함된 이미지 주소 목록"
                      }
                    }
                  },
                  "description": "검색된 게시글 목록"
                },
                "resizeImg": {
                  "type": "object",
                  "description": "이미지 리사이즈 정보"
                },
                "isRead": { "type": "boolean", "description": "사용자가 게시글 목록을 읽었는지 여부" }
              }
            }
          },
          "404": {
            "description": "검색된 게시글이 없음",
            "schema": {
              "type": "string",
              "example": "<script>alert('존재하지 않는 글 입니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/detail/{id}": {
      "get": {
        "tags": ["Detail"],
        "summary": "게시글 내부 조회",
        "description": "게시글의 세부 내용을 조회합니다.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "조회할 게시글의 고유 ID입니다.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 내부 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "object",
                  "properties": {
                    "title": { "type": "string", "description": "게시글의 제목" },
                    "content": { "type": "string", "description": "게시글의 내용" },
                    "작성자_id": { "type": "string", "description": "게시글 작성자의 고유 ID" },
                    "createdAt": { "type": "string", "format": "date-time", "description": "게시글 작성 시간" }
                  }
                },
                "댓글목록": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": { "type": "string", "description": "댓글 내용" },
                      "userId": { "type": "string", "description": "댓글 작성자의 고유 ID" },
                      "createdAt": { "type": "string", "format": "date-time", "description": "댓글 작성 시간" }
                    }
                  },
                  "description": "게시글의 댓글 목록"
                },
                "이미지주소": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "게시글에 포함된 이미지 주소 목록"
                },
                "프로필": { "type": "string", "description": "게시글 작성자의 프로필 이미지 주소" },
                "동영상주소": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "게시글에 포함된 동영상 주소 목록"
                },
                "대댓글": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": { "type": "string", "description": "댓글 내용" },
                      "userId": { "type": "string", "description": "댓글 작성자의 고유 ID" },
                      "createdAt": { "type": "string", "format": "date-time", "description": "댓글 작성 시간" }
                    }
                  },
                  "description": "게시글의 대댓글 목록"
                },
                "isRead": { "type": "boolean", "description": "사용자가 게시글을 읽었는지 여부" }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 게시물",
            "schema": {
              "type": "string",
              "example": "<script>alert('게시글이 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "서버 에러"
          }
        }
      }
    },
    "/detail/comments": {
      "post": {
        "tags": ["Detail"],
        "summary": "게시글 댓글 등록",
        "description": "게시글의 댓글을 등록합니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "저장할 댓글의 내용",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "string",
                  "description": "댓글을 저장할 게시글의 ID"
                },
                "content": {
                  "type": "string",
                  "description": "댓글 내용"
                }
              },
              "required": ["parent", "content"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 저장 성공"
          },
          "400": {
            "description": "댓글 내용이 없는 경우"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      },
      "delete": {
        "tags": ["Detail"],
        "summary": "게시글 댓글 삭제",
        "description": "게시글의 댓글 또는 대댓글을 삭제합니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "삭제할 댓글의 정보",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "삭제할 댓글의 ID"
                },
                "userId": {
                  "type": "string",
                  "description": "댓글 작성자의 사용자 ID"
                }
              },
              "required": ["id", "userId"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 삭제 성공"
          },
          "403": {
            "description": "본인이 작성한 댓글이 아님"
          },
          "404": {
            "description": "삭제할 댓글이 존재하지 않음"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      }
    },
    "/detail/recomments": {
      "post": {
        "tags": ["Detail"],
        "summary": "게시글 대댓글 등록",
        "description": "게시글의 대댓글을 등록합니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "저장할 대댓글의 정보",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "string",
                  "description": "대댓글을 저장할 게시글의 ID"
                },
                "reparent": {
                  "type": "string",
                  "description": "대댓글이 달릴 부모 댓글의 ID"
                },
                "content": {
                  "type": "string",
                  "description": "대댓글 내용"
                }
              },
              "required": ["parent", "reparent", "content"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "대댓글 저장 성공"
          },
          "400": {
            "description": "대댓글 내용이 없는 경우"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      }
    },
    "/detail/like": {
      "put": {
        "tags": ["Detail"],
        "summary": "게시글 좋아요",
        "description": "게시글의 좋아요를 1 증가시킵니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "좋아요를 증가시킬 게시글의 정보",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "postid": {
                  "type": "string",
                  "description": "좋아요를 증가시킬 게시글의 ID"
                }
              },
              "required": ["postid"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "좋아요 증가 성공"
          },
          "400": {
            "description": "잘못된 요청"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      }
    },
    "/write": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 작성 페이지 조회",
        "description": "게시글을 작성하는 페이지를 조회합니다.",
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "글쓰기 페이지 조회 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "post": {
        "tags": ["Post"],
        "summary": "게시글 작성",
        "description": "사용자가 새로운 게시물을 작성합니다.",
        "consumes": ["multipart/form-data"],
        "parameters": [
          {
            "in": "formData",
            "name": "title",
            "description": "게시물 제목",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "content",
            "description": "게시물 내용",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "img1",
            "description": "이미지 파일",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 작성 성공"
          },
          "400": {
            "description": "제목이나 내용이 없는 경우 또는 제목이 20글자를 초과하는 경우"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/edit": {
      "put": {
        "tags": ["Post"],
        "summary": "게시글 수정",
        "description": "사용자가 게시글을 수정합니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "수정할 게시글의 내용",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "description": "수정할 게시글의 고유 ID" },
                "title": { "type": "string", "description": "게시글의 제목" },
                "content": { "type": "string", "description": "게시글의 내용" },
                "userId": { "type": "string", "description": "게시글 작성자의 고유 ID" }
              },
              "required": ["id", "title", "content", "userId"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 수정 성공"
          },
          "400": {
            "description": "제목이 20자 초과인 경우"
          },
          "403": {
            "description": "본인이 작성한 글이 아닌 경우"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },

    "/edit/{id}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 수정 페이지 조회",
        "description": "특정 게시물을 수정하는 페이지를 조회합니다.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "수정할 게시글의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 상세 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "_id": { "type": "string", "description": "게시글의 고유 ID" },
                    "title": { "type": "string", "description": "게시글의 제목" },
                    "content": { "type": "string", "description": "게시글의 내용" },
                    "작성자_id": { "type": "string", "description": "게시글 작성자의 고유 ID" },
                    "createdAt": { "type": "string", "format": "date-time", "description": "게시글 작성 시간" },
                    "이미지주소": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "게시글에 포함된 이미지 주소 목록"
                    },
                    "동영상주소": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "게시글에 포함된 동영상 주소 목록"
                    }
                  }
                },
                "isRead": { "type": "boolean", "description": "사용자가 게시글을 읽었는지 여부" }
              }
            }
          },
          "404": {
            "description": "게시글이 DB에 존재하지 않음",
            "schema": { "type": "string", "example": "게시글이 db에 존재하지 않음" }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat": {
      "get": {
        "tags": ["Chat"],
        "summary": "채팅방 조회",
        "description": "사용자가 속한 모든 채팅방을 조회합니다.",
        "responses": {
          "200": {
            "description": "채팅방 목록 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": { "type": "string", "description": "채팅방의 고유 ID" },
                      "receiver": { "type": "string", "description": "수신자의 이름" },
                      "sender": { "type": "string", "description": "발신자의 이름" },
                      "member": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "채팅방의 멤버 ID 목록"
                      },
                      "name": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "채팅방의 멤버 이름 목록"
                      },
                      "date": { "type": "string", "format": "date-time", "description": "채팅방 생성 날짜" }
                    }
                  },
                  "description": "채팅방 목록"
                },
                "cur": { "type": "string", "description": "현재 접속한 사용자의 ID" },
                "arrow": { "type": "integer", "description": "현재 채팅방의 ID" },
                "counterpart": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "상대방의 이름 목록"
                },
                "isRead": { "type": "boolean", "description": "사용자가 채팅방을 읽었는지 여부" }
              }
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
    
      "delete": {
        "tags": ["Chat"],
        "summary": "채팅방 삭제",
        "description": "채팅방을 삭제합니다.",
        "parameters": [
          {
            "name": "삭제id",
            "in": "body",
            "description": "삭제할 채팅방의 ID",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "삭제id": {
                  "type": "string",
                  "description": "삭제할 채팅방의 고유 ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "채팅방 삭제 성공",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": { "type": "string", "description": "채팅방의 고유 ID" },
                      "receiver": { "type": "string", "description": "수신자의 이름" },
                      "sender": { "type": "string", "description": "발신자의 이름" },
                      "member": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "채팅방의 멤버 ID 목록"
                      },
                      "name": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "채팅방의 멤버 이름 목록"
                      },
                      "date": { "type": "string", "format": "date-time", "description": "채팅방 생성 날짜" }
                    }
                  },
                  "description": "채팅방 목록"
                },
                "cur": { "type": "string", "description": "현재 접속한 사용자의 ID" },
                "arrow": { "type": "integer", "description": "현재 채팅방의 ID" },
                "counterpart": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "상대방의 이름 목록"
                },
                "isRead": { "type": "boolean", "description": "사용자가 채팅방을 읽었는지 여부" }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 삭제할 채팅방의 ID가 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "삭제할 채팅방의 ID가 존재하지 않음"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat/matches": {
      "get": {
        "tags": ["Chat"],
        "summary": "채팅 상대방과 매칭",
        "description": "채팅 상대와 1:1로 매칭시킵니다.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "상대방의 이름",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "상대방의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "채팅 매칭 성공",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": { "type": "string", "description": "채팅방의 고유 ID" },
                      "receiver": { "type": "string", "description": "수신자의 이름" },
                      "sender": { "type": "string", "description": "발신자의 이름" },
                      "member": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "채팅방의 멤버 ID 목록"
                      },
                      "name": {
                        "type": "array",
                        "items": { "type": "string" },
                        "description": "채팅방의 멤버 이름 목록"
                      },
                      "date": { "type": "string", "format": "date-time", "description": "채팅방 생성 날짜" }
                    }
                  },
                  "description": "채팅방 목록"
                },
                "cur": { "type": "string", "description": "현재 접속한 사용자의 ID" },
                "arrow": { "type": "string", "description": "현재 채팅방의 ID" },
                "counterpart": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "상대방의 이름 목록"
                },
                "isRead": { "type": "boolean", "description": "사용자가 채팅방을 읽었는지 여부" }
              }
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat/messages": {
      "post": {
        "tags": ["Chat"],
        "summary": "채팅 메세지 발신",
        "description": "채팅 메세지를 발신합니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "저장할 메시지의 내용",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "parent": {
                  "type": "string",
                  "description": "메시지를 저장할 채팅방의 ID"
                },
                "content": {
                  "type": "string",
                  "description": "메시지 내용"
                }
              },
              "required": ["parent", "content"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "메시지 저장 성공"
          },
          "400": {
            "description": "메시지 내용이 없는 경우"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      }
    },
    "/chat/messages/{id}": {
      "get": {
        "tags": ["Chat"],
        "summary": "채팅 메세지 수신",
        "description": "몽고db 의 change stream 을 사용하여 채팅 메세지를 실시간으로 수신합니다.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "채팅방의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "메세지 수신 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    }
  }
}