{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "REST API",
    "description": "승뮤니티 API 문서화"
  },
  "host": "ddenzu.store",
  "basePath": "/",
  "schemes": [
    "http","https"
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "루트 경로 접속",
        "description": "클라이언트가 서버에 접속할 때 루트 경로로 리다이렉트됩니다.",
        "responses": {
          "302": {
            "description": "리다이렉트 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/register": {
      "get": {
        "tags": ["User"],
        "summary": "회원가입 페이지 조회",
        "description": "회원가입 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "회원가입 페이지 조회 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "사용자 등록",
        "description": "새로운 사용자를 회원가입 시킵니다.",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "maxLength": 20,
            "description": "등록할 사용자의 아이디"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "등록할 사용자의 비밀번호"
          }
        ],
        "responses": {
          "200": {
            "description": "회원가입 성공"
          },
          "400": {
            "description": "아이디 또는 비밀번호가 20글자를 초과하는 경우",
            "schema": {
              "type": "string",
              "example": "<script>alert('아이디 또는 비밀번호는 20글자 이하로 지정해주세요.');window.location.replace(location.href);</script>"
            }
          },
          "409": {
            "description": "같은 아이디가 이미 존재하는 경우",
            "schema": {
              "type": "string",
              "example": "<script>alert('이미 존재하는 아이디입니다');location.replace(location.href);</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/login": {
      "get": {
        "tags": ["User"],
        "summary": "로그인 페이지 조회",
        "description": "로그인 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "로그인 페이지 조회 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "사용자 로그인",
        "description": "사용자를 인증하고 세션을 생성하여 로그인합니다.",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "사용자의 아이디"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "사용자의 비밀번호"
          }
        ],
        "responses": {
          "200": {
            "description": "로그인 성공"
          },
          "401": {
            "description": "잘못된 사용자 아이디 또는 비밀번호",
            "schema": {
              "type": "string",
              "example": "<script>alert('인증 정보가 유효하지 않습니다.');history.go(-1)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": ["User"],
        "summary": "사용자 로그아웃",
        "description": "클라이언트의 세션을 파괴하고 사용자를 로그아웃 시킵니다.",
        "responses": {
          "302": {
            "description": "리다이렉트 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/mypage": {
      "get": {
        "tags": ["User"],
        "summary": "마이페이지 조회",
        "description": "사용자의 마이페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "마이페이지 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "아이디": {
                  "type":"string",
                  "description": "닉네임"
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "401": {
            "description": "사용자가 로그인하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('로그인 요망');window.location.replace(`/login`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/mypage/name": {
      "put": {
        "tags": ["User"],
        "summary": "닉네임 변경",
        "description": "사용자의 닉네임을 변경합니다.",
        "parameters": [
          {
            "name": "name",
            "in": "body",
            "description": "새로운 닉네임",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "new_username"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "닉네임 변경 성공"
          },
          "400": {
            "description": "아이디가 20글자를 초과하는 경우",
            "schema": {
              "type": "string",
              "example": "<script>alert('아이디는 20글자 이하로 지정해주세요.');window.location.replace(`/mypage`);</script>"
            }
          },
          "409": {
            "description": "이미 존재하는 아이디",
            "schema": {
              "type": "string",
              "example": "<script>alert('이미 존재하는 아이디 입니다');window.location.replace(`/mypage`);</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/mypage/profileImg": {
      "put": {
        "tags": ["User"],
        "summary": "프로필 사진 변경",
        "description": "사용자의 프로필 사진을 변경합니다.",
        "consumes": ["multipart/form-data"],
        "parameters": [
          {
            "name": "img1",
            "in": "formData",
            "description": "프로필 사진 파일",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "프로필 사진 변경 성공",
            "schema": {
              "type": "string",
              "example": "<script>alert('프로필 사진이 변경되었습니다');window.location.replace(`/mypage`);</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/locations": {
      "put": {
        "tags": ["User"],
        "summary": "사용자 위치 정보 업데이트",
        "description": "사용자의 위치 정보를 업데이트합니다.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "업데이트할 위치 정보",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "위치 정보 업데이트 성공"
          },
          "400": {
            "description": "위치 정보가 제공되지 않음"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },   
    "/list": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 1페이지 조회",
        "description": "게시글의 1페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "게시글 1페이지 조회 성공"
          }
        }
      },
      "delete": {
        "tags": ["Post"],
        "summary": "특정 게시글 삭제",
        "description": "ID 값을 사용하여 특정 게시글을 삭제합니다.",
        "parameters": [
          {
            "name": "docid",
            "in": "query",
            "description": "게시물의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 삭제 완료"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "403": {
            "description": "게시글을 삭제할 권한이 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/list/{num}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 페이지별 조회",
        "description": "게시글을 페이지별로 조회합니다.",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "description": "페이지 번호",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 페이지 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array"
                },
                "글수": {
                  "type": "integer",
                  "description": "전체 게시글 수"
                },
                "채팅사람": {
                  "type": "string",
                  "description": "채팅 상대자 이름"
                },
                "페이지넘버": {
                  "type": "integer",
                  "description": "현재 페이지 번호"
                },
                "resizeImg": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "리사이즈된 이미지 URL"
                  }
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "404": {
            "description": "게시글이 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('게시글이 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "서버 에러"
          }
        }
      }
    },
    "/list/next/{num}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 다음 페이지 조회",
        "description": "게시글의 다음 페이지를 조회합니다.",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "description": "이전 페이지의 마지막 글의 ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "현재 페이지 번호",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "페이지 이동 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array"
                },
                "글수": {
                  "type": "integer",
                  "description": "전체 글 수"
                },
                "채팅사람": {
                  "type": "string",
                  "description": "채팅 사용자명"
                },
                "페이지넘버": {
                  "type": "integer",
                  "description": "현재 페이지 번호"
                },
                "resizeImg": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "이미지 경로"
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "404": {
            "description": "다음 페이지가 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('다음페이지가 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/list/prev/{num}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 이전 페이지 조회",
        "description": "게시글의 이전 페이지를 조회합니다.",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "description": "다음 페이지의 첫 번째 글 ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "현재 페이지 번호",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "페이지 이동 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array"
                },
                "글수": {
                  "type": "integer",
                  "description": "전체 글 수"
                },
                "채팅사람": {
                  "type": "string",
                  "description": "채팅 사용자명"
                },
                "페이지넘버": {
                  "type": "integer",
                  "description": "현재 페이지 번호"
                },
                "resizeImg": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "이미지 경로"
                },
                "isRead": {
                  "type": "boolean",
                  "description": "읽음 여부"
                }
              }
            }
          },
          "404": {
            "description": "이전 페이지가 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('이전페이지가 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/list/search": {
      "get": {
        "tags": ["Post"],
        "summary": "특정 게시글 검색",
        "description": "특정 게시글을 검색합니다.",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "description": "검색어",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 검색 성공",
            "schema": {
              "type": "object",
              "properties": {
                "글목록": {
                  "type": "array"
                },
                "resizeImg": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "이미지 경로"
                }
              }
            }
          },
          "400": {
            "description": "빈칸을 검색했을 경우",
            "schema": {
              "type": "string",
              "example": "<script>alert('검색어를 입력해주세요.');window.location.replace(`/list/1`)</script>"
            }
          },
          "404": {
            "description": "검색한 게시글이 존재하지 않는 경우",
            "schema": {
              "type": "string",
              "example": "<script>alert('존재하지 않는 글');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/detail/{id}": {
      "get": {
        "tags": ["Detail"],
        "summary": "게시글 내부 조회",
        "description": "게시글의 세부 내용을 조회합니다.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "조회할 게시글의 고유 ID입니다.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 내부 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "게시글의 제목"
                },
                "content": {
                  "type": "string",
                  "description": "게시글의 내용"
                },
                "작성자_id": {
                  "type": "string",
                  "description": "게시글 작성자의 고유 ID"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "게시글 작성 시간"
                },
                "댓글목록": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "댓글 내용"
                      },
                      "userId": {
                        "type": "string",
                        "description": "댓글 작성자의 고유 ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "댓글 작성 시간"
                      }
                    }
                  },
                  "description": "게시글의 댓글 목록"
                },
                "이미지주소": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "게시글에 포함된 이미지 주소 목록"
                },
                "프로필": {
                  "type": "string",
                  "description": "게시글 작성자의 프로필 이미지 주소"
                },
                "동영상주소": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "게시글에 포함된 동영상 주소 목록"
                },
                "현재접속자": {
                  "type": "string",
                  "description": "현재 접속한 사용자의 이름"
                },
                "대댓글": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "댓글 내용"
                      },
                      "userId": {
                        "type": "string",
                        "description": "댓글 작성자의 고유 ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "댓글 작성 시간"
                      }
                    }
                  },
                  "description": "게시글의 대댓글 목록"
                },
                "isRead": {
                  "type": "boolean",
                  "description": "사용자가 게시글을 읽었는지 여부"
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 게시물",
            "schema": {
              "type": "string",
              "example": "<script>alert('게시글이 존재하지 않습니다.');window.location.replace(`/list/1`)</script>"
            }
          },
          "500": {
            "description": "서버 에러"
          }
        }
      }
    },
    "/detail/comment": {
      "post": {
        "tags": ["Detail"],
        "summary": "게시글 댓글 등록",
        "description": "게시글의 댓글을 등록합니다.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "등록할 댓글의 내용",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string"
                },
                "parent": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 등록 성공"
          },
          "400": {
            "description": "등록할 댓글이 존재하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "delete": {
        "tags": ["Detail"],
        "summary": "게시글 댓글 삭제",
        "description": "게시글의 댓글 또는 대댓글을 삭제합니다.",
        "parameters": [
          {
            "name": "userId",
            "in": "body",
            "description": "댓글 작성자의 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "body",
            "description": "삭제할 댓글의 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 또는 대댓글 삭제 성공"
          },
          "403": {
            "description": "댓글을 삭제할 권한이 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/detail/recomment": {
      "post": {
        "tags": ["Detail"],
        "summary": "게시글 대댓글 등록",
        "description": "게시글의 대댓글을 등록합니다.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "대댓글 내용",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parent",
            "in": "body",
            "description": "게시글의 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reparent",
            "in": "body",
            "description": "부모 댓글의 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "대댓글 등록 성공"
          },
          "400": {
            "description": "등록할 대댓글이 존재하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('대댓글등록실패');</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/detail/like": {
      "put": {
        "tags": ["Detail"],
        "summary": "게시글 좋아요",
        "description": "게시글의 좋아요를 1 증가시킵니다.",
        "parameters": [
          {
            "name": "postid",
            "in": "body",
            "description": "게시물 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          }
        }
      }
    },
    "/write": {
      "get": {
        "tags": ["Post"],
        "summary": "게시글 작성 페이지 조회",
        "description": "게시글을 작성하는 페이지를 조회합니다.",
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "글쓰기 페이지 조회 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음",
            "schema": {
              "type": "string",
              "example": "<script>alert('로그인 요망');window.location.replace(`/login`)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "post": {
        "tags": ["Post"],
        "summary": "게시글 작성",
        "description": "사용자가 새로운 게시물을 작성합니다.",
        "consumes": ["multipart/form-data"],
        "parameters": [
          {
            "in": "formData",
            "name": "title",
            "description": "게시물 제목",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "content",
            "description": "게시물 내용",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "img1",
            "description": "이미지 파일",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 작성 성공"
          },
          "400": {
            "description": "제목이나 내용이 없는 경우 또는 제목이 20글자를 초과하는 경우",
            "schema": {
              "type": "string",
              "example": "<script>alert('제목을 20글자 이하로 지정해주세요.');history.go(-1)</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/edit": {
      "put": {
        "tags": ["Post"],
        "summary": "게시글 수정",
        "description": "사용자가 게시글을 수정합니다.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "수정할 게시물 정보",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "수정할 게시물의 ID"
                },
                "userId": {
                  "type": "string",
                  "description": "게시물을 작성한 사용자의 ID"
                },
                "title": {
                  "type": "string",
                  "description": "게시물 제목 (20글자 이하)"
                },
                "content": {
                  "type": "string",
                  "description": "게시물 내용"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "게시글 수정 성공"
          },
          "400": {
            "description": "게시글 제목이 20글자를 초과하는 경우",
            "schema": {
              "type": "string",
              "example": "<script>alert('제목을 20글자 이하로 지정해주세요.');history.go(-1)</script>"
            }
          },
          "403": {
            "description": "게시글을 수정할 권한이 없음",
            "schema": {
              "type": "string",
              "example": "<script>alert('수정할 수 없습니다.');window.location.replace('/list/1')</script>"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },

    "/edit/{id}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 수정 페이지 조회",
        "description": "특정 게시물을 수정하는 페이지를 조회합니다.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "수정할 게시글의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 수정 페이지 조회 성공"
          },
          "404": {
            "description": "게시물을 찾을 수 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat": {
      "get": {
        "tags": ["Chat"],
        "summary": "채팅방 조회",
        "description": "사용자가 속한 모든 채팅방을 조회합니다.",
        "responses": {
          "200": {
            "description": "채팅방 조회 성공",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                    }
                  }
                },
                "cur": {
                  "type": "string",
                  "description": "현재 사용자의 ID"
                },
                "arrow": {
                  "type": "integer",
                  "description": "화살표 변수"
                },
                "counterpart": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "상대방 이름 목록"
                }
              }
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "delete": {
        "tags": ["Chat"],
        "summary": "채팅방 삭제",
        "description": "채팅방의 ID로 특정 채팅방을 삭제합니다.",
        "parameters": [
          {
            "name": "삭제id",
            "in": "body",
            "description": "삭제할 채팅방의 ID",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "삭제id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "채팅방 삭제 성공"
          },
          "400": {
            "description": "삭제할 채팅방이 존재하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat/matches": {
      "get": {
        "tags": ["Chat"],
        "summary": "채팅 상대방과 매칭",
        "description": "채팅 상대와 1:1로 매칭시킵니다.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "상대방의 이름",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "상대방의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "채팅 매칭 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat/message": {
      "post": {
        "tags": ["Chat"],
        "summary": "채팅 메세지 저장",
        "description": "채팅 메세지를 저장합니다.",
        "parameters": [
          {
            "name": "parent",
            "in": "body",
            "description": "채팅방의 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "body",
            "description": "전송할 메시지의 내용",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "메세지 저장 성공"
          },
          "400": {
            "description": "전송할 메세지가 존재하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat/message/{id}": {
      "get": {
        "tags": ["Chat"],
        "summary": "채팅 메세지 전송",
        "description": "채팅 메세지를 실시간으로 전송합니다.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "채팅방의 ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "메세지 전송 성공",
            "schema": {
              "type": "string",
              "format": "event-stream"
            }
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    }
  }
}