{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "승뮤니티 API 문서화",
    "description": "REST API"
  },
  "host": "ddenzu.store",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "루트 경로 접속",
        "description": "클라이언트가 서버에 접속할 때 루트 경로로 리다이렉트됩니다.",
        "responses": {
          "302": {
            "description": "첫 페이지로 리다이렉트 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/users/register": {
      "get": {
        "tags": ["User"],
        "summary": "회원가입 페이지 조회",
        "description": "회원가입 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "회원가입 페이지 조회 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "사용자 등록",
        "description": "새로운 사용자를 회원가입 시킵니다.",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "등록할 사용자의 아이디"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "등록할 사용자의 비밀번호"
          }
        ],
        "responses": {
          "200": {
            "description": "회원가입 성공"
          },
          "400": {
            "description": "아이디 또는 비밀번호가 15글자를 초과하는 경우"
          },
          "409": {
            "description": "같은 아이디가 이미 존재하는 경우"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/users/login": {
      "get": {
        "tags": ["User"],
        "summary": "로그인 페이지 조회",
        "description": "로그인 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "로그인 페이지 조회 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "post": {
        "tags": ["User"],
        "summary": "사용자 로그인",
        "description": "사용자를 인증하고 세션을 생성하여 로그인합니다.",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "사용자의 아이디"
          },
          {
            "name": "password",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "사용자의 비밀번호"
          }
        ],
        "responses": {
          "200": {
            "description": "로그인 성공"
          },
          "400": {
            "description": "아이디 또는 비밀번호를 입력하지 않음"
          },
          "401": {
            "description": "db에 존재하지 않는 아이디"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/users/logout": {
      "get": {
        "tags": ["User"],
        "summary": "사용자 로그아웃",
        "description": "사용자를 로그아웃합니다.",
        "responses": {
          "200": {
            "description": "로그아웃 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/users/mypage": {
      "get": {
        "tags": ["User"],
        "summary": "마이페이지 조회",
        "description": "사용자의 마이페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "마이페이지 조회 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/users/mypage/name": {
      "put": {
        "tags": ["User"],
        "summary": "사용자 이름 업데이트",
        "description": "사용자의 이름을 업데이트합니다.",
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "새로운 사용자 이름"
          }
        ],
        "responses": {
          "200": {
            "description": "이름 업데이트 성공"
          },
          "400": {
            "description": "아이디가 15글자를 초과"
          },
          "409": {
            "description": "같은 아이디가 이미 존재하는 경우"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/users/mypage/profile-image": {
      "put": {
        "tags": ["User"],
        "summary": "사용자 프로필 사진 업데이트",
        "description": "사용자의 프로필 사진을 업데이트합니다.",
        "parameters": [
          {
            "name": "img1",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "새로운 프로필 사진"
          }
        ],
        "responses": {
          "200": {
            "description": "프로필 사진 업데이트 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/users/locations": {
      "put": {
        "tags": ["User"],
        "summary": "사용자 위치 업데이트",
        "description": "사용자의 위치를 업데이트합니다.",
        "parameters": [
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "새로운 위치 정보"
          }
        ],
        "responses": {
          "200": {
            "description": "위치 업데이트 성공"
          },
          "400": {
            "description": "위치정보 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": ["Post"],
        "summary": "첫 페이지 조회",
        "description": "첫 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "첫 페이지 조회 성공"
          }
        }
      },
      "post": {
        "tags": ["Post"],
        "summary": "게시물 작성",
        "description": "새로운 게시물을 작성합니다.",
        "parameters": [
          {
            "name": "title",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "게시물 제목"
          },
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "게시물 내용"
          },
          {
            "name": "img1",
            "in": "formData",
            "required": false,
            "type": "file",
            "description": "이미지 파일들"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 작성 성공"
          },
          "400": {
            "description": "내용이 존재하지 않거나 제목이 20자를 초과한 경우"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/write": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 작성 페이지 조회",
        "description": "게시물 작성 페이지를 조회합니다.",
        "responses": {
          "200": {
            "description": "게시물 작성 페이지 조회 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/search": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 검색",
        "description": "게시물을 검색합니다.",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "검색어"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 검색 성공"
          },
          "404": {
            "description": "존재하지 않는 게시물"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/page/{page}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 리스트 페이지 조회",
        "description": "지정된 페이지 번호에 해당하는 게시물 리스트를 조회합니다.",
        "parameters": [
          {
            "name": "page",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "페이지 번호"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 리스트 페이지 조회 성공"
          },
          "404": {
            "description": "게시글이 존재하지 않습니다."
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/page/next/{postId}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 리스트 다음 페이지 조회",
        "description": "지정된 게시물 ID의 다음 페이지 게시물 리스트를 조회합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 리스트 다음 페이지 조회 성공"
          },
          "404": {
            "description": "다음 페이지가 존재하지 않습니다."
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/page/prev/{postId}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 리스트 이전 페이지 조회",
        "description": "지정된 게시물 ID의 이전 페이지 게시물 리스트를 조회합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 리스트 이전 페이지 조회 성공"
          },
          "404": {
            "description": "이전 페이지가 존재하지 않습니다."
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/optimize-thumbnails": {
      "post": {
        "tags": ["Post"],
        "summary": "썸네일 최적화 요청",
        "description": "썸네일 최적화를 요청합니다.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "썸네일 최적화에 필요한 정보"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "썸네일 최적화 성공"
          },
          "404": {
            "description": "썸네일 최적화 실패"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/{postId}/edit": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 업데이트 페이지 조회",
        "description": "지정된 게시물 ID의 업데이트 페이지를 조회합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 업데이트 페이지 조회 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "404": {
            "description": "게시글이 db에 존재하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "tags": ["Post"],
        "summary": "게시물 조회",
        "description": "지정된 게시물 ID의 게시물을 조회합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 조회 성공"
          },
          "404": {
            "description": "게시글이 존재하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "delete": {
        "tags": ["Post"],
        "summary": "게시물 삭제",
        "description": "지정된 게시물 ID의 게시물을 삭제합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 삭제 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "403": {
            "description": "본인이 작성한 글이 아님"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "put": {
        "tags": ["Post"],
        "summary": "게시물 업데이트",
        "description": "지정된 게시물 ID의 게시물을 업데이트합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          },
          {
            "name": "title",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "게시물 제목"
          },
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "게시물 내용"
          }
        ],
        "responses": {
          "200": {
            "description": "게시물 업데이트 성공"
          },
          "400": {
            "description": "제목이 20자 초과"
          },
          "403": {
            "description": "본인이 작성한 글이 아님"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/{postId}/like": {
      "put": {
        "tags": ["Post"],
        "summary": "게시물의 좋아요 + 1",
        "description": "지정된 게시물 ID의 좋아요를 1 증가시킵니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "좋아요 + 1 성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/{postId}/comments": {
      "post": {
        "tags": ["Post"],
        "summary": "게시물에 댓글 작성",
        "description": "지정된 게시물 ID에 댓글을 작성합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          },
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "댓글 내용"
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 저장 성공"
          },
          "400": {
            "description": "댓글내용이 존재하지 않음"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      },
      "delete": {
        "tags": ["Post"],
        "summary": "게시물의 댓글 삭제",
        "description": "지정된 댓글 ID의 댓글을 삭제합니다.",
        "parameters": [
          {
            "name": "commentId",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "댓글 ID"
          },
          {
            "name": "userId",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "사용자 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "댓글 삭제 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "403": {
            "description": "본인이 작성한 댓글이 아님"
          },
          "404": {
            "description": "db에 삭제할 댓글이 존재하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/posts/{postId}/recomments": {
      "post": {
        "tags": ["Post"],
        "summary": "댓글에 대댓글 작성",
        "description": "지정된 게시물 ID의 댓글에 대댓글을 작성합니다.",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "게시물 ID"
          },
          {
            "name": "parentCommentId",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "부모 댓글 ID"
          },
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "대댓글 내용"
          }
        ],
        "responses": {
          "200": {
            "description": "대댓글 저장 성공"
          },
          "400": {
            "description": "대댓글내용이 존재하지 않음"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat": {
      "get": {
        "tags": ["Chat"],
        "summary": "네이게이션바에서 chatroom 조회",
        "description": "네이게이션바에서 사용자의 채팅방 목록을 조회합니다.",
        "responses": {
          "200": {
            "description": "채팅방 조회 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat/matches": {
      "get": {
        "tags": ["Chat"],
        "summary": "채팅 상대 매칭",
        "description": "채팅 상대를 매칭합니다.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "상대방의 이름"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "상대방의 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "채팅 상대 매칭 성공"
          },
          "400": {
            "description": "자기 자신과 매칭 시도"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/chat/messages/{chatroomId}": {
      "post": {
        "tags": ["Chat"],
        "summary": "메세지 발신",
        "description": "지정된 채팅방에 메세지를 발신합니다.",
        "parameters": [
          {
            "name": "chatroomId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "채팅방 ID"
          },
          {
            "name": "content",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "메세지 내용"
          }
        ],
        "responses": {
          "200": {
            "description": "메세지 저장 성공"
          },
          "400": {
            "description": "메세지 내용이 없음"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      },
      "get": {
        "tags": ["Chat"],
        "summary": "실시간 메세지 수신",
        "description": "지정된 채팅방에서 실시간 메세지를 수신합니다.",
        "parameters": [
          {
            "name": "chatroomId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "채팅방 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "메세지 수신 성공"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      }
    },
    "/chat/{chatroomId}": {
      "delete": {
        "tags": ["Chat"],
        "summary": "채팅방 삭제",
        "description": "지정된 채팅방을 삭제합니다.",
        "parameters": [
          {
            "name": "chatroomId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "채팅방 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "채팅방 삭제 성공"
          },
          "400": {
            "description": "삭제할 채팅방의 ID가 존재하지 않음"
          },
          "401": {
            "description": "사용자가 로그인하지 않음"
          },
          "500": {
            "description": "서버 오류"
          }
        }
      }
    }
  }
}